<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="ion-text-center">
    <h2>Basketball Overview</h2>
    </div>
    <ion-buttons slot="end">
      <ion-back-button icon="close-circle-outline" defaultHref="/home" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card > 
    <ion-card-header>
      <ion-row>
         <h3>
          Basketball is a game played between two teams of five players each on a rectangular court, usually indoors. Each team tries to score by tossing the ball through the opponent's goal, an elevated horizontal hoop and net called a basket.
         </h3>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
<!-- <ion-label>
  Basketball is a game played between two teams of five players each on a rectangular court, usually indoors. Each team tries to score by tossing the ball through the opponent's goal, an elevated horizontal hoop and net called a basket.
</ion-label> -->
</ion-content>
